:root{
   --dark: rgb(40, 33, 41);
   --darkest: black;
}

body {
    font-family: sans-serif;
    margin: auto 0;
    background-image: radial-gradient( circle, rgb(247, 198, 144) , rgb(254, 255, 175) , rgb(214, 248, 228));
}

/*nav-----------------------------------------------------------------------------*/
nav {
    background-image: linear-gradient( 90deg, rgb(179, 38, 235), rgb(86, 243, 152), rgb(42, 117, 167));
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    color: var(--dark);
    border-bottom: 10px solid var(--darkest);
}

nav a {
    text-decoration: none;
    color: var(--dark);
}

header {
    display: inline-block;
    justify-content: start;
    margin-left: 20px;
    padding: 5px;
    font-size: larger;
    color: var(--dark);
    text-shadow: -1px 0 rgb(255, 218, 218), 0 1px rgb(255, 218, 218), 1px 0 rgb(255, 218, 218), 0 -1px rgb(255, 218, 218);  
}

nav ul {
    display: inline-flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding-top: 5px;
    margin-right: 15px;
}

nav li {
    display: inline-flex;
    padding: 14px;
    font-weight: bold;
}

.link :hover, .link :focus {
    outline: none;
    text-shadow: 4px 4px 5px rgb(216, 255, 177), 1px 1px 2.5px pink;
    transition: all .5s ease;
}

/*main-------------------------------------------------------------------------------*/
 main {
     display: inline-flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

.image-1 {
    display: block;
    border-radius: 50px;
    margin-top: 50px;
    border: 16px dotted var(--darkest);
}

.image-1:hover {
    box-shadow: 5px 5px 5px 10px rgb(255, 218, 197);
    transition: all .5s ease;  
}

/*work section----------------------------------------------------------------------- */
.bio {
    text-align: center;
    background-color: rgb(212, 42, 255, 50%);
}

.Work h2 {
    display: block center;
    text-align: center;
    background-color: chartreuse;
}

#container-1 img {
    width: 2450px;
    height: 300px;
    display: inline-flex;
    position: relative center;
    max-width: 100%;
    min-width: 25%;
}

.placeholders {
    margin: 20px;
    border: 5px solid var(--darkest);
    max-width: 100%;
    width: 1200px;
    height: 150px;
}

.placeholders:hover  {
    outline: none;
    box-shadow: 5px 5px 5px 5px rgb(255, 251, 37);
    transition: all .5s ease;
}  

/* footer---------------------------------------------------------------------------- */

footer {
    background-color: rgb(118, 73, 160);
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    color: var(--dark);
    border-top: 10px solid var(--darkest);
    text-decoration: none;
    color: var(--darkest);
}

footer a {
    text-decoration: none;
    color: var(--darkest);
    font-weight: bolder;
}

footer h2 {
    margin-left: 20px;
}

.contacts {
    display: inline-flex;
    padding: 10px;
}
.contacts :hover, .contacts :focus {
    outline: none;
    text-shadow: 4px 4px 5px rgb(216, 255, 177);
    transition: all .5s ease;  
}